<div class="row">
  <div class="col-md-6">
    <ol class="list-group" >
      <li class="list-group-item" *ngFor="let item of todos" >
        {{item.name}} : {{item.content}}
        <i class="btn btn-danger fa fa-trash" (click)="deleteToDo(item)"> delete</i>
      </li>
    </ol>

  </div>
  <div class="col-md-6">
    <div class="row">
      <label for="name">Name</label>
    </div>
    <div class="row">
      <input id="name" type="text" class="form-control" [(ngModel)]="toDo.name">
    </div>
    <div class="row">
      <label for="content">Content</label>
    </div>
    <div class="row">
      <textarea id="content" cols="30" rows="10" class="form-control" [(ngModel)]="toDo.content"></textarea>
    </div>
    <div class="row">
      <button
        [disabled]="!toDo.name.trim().length || !toDo.name.trim().length"
        class="btn btn-primary" (click)="addTodo()">Add</button>
    </div>


  </div>
</div>
